@import url(../../fonts/stylesheet.css);
*{outline:none;font-family: 'defaultFont';}
*:link,*:visited{
    transition:All 0.5s ease-in-out;
    -webkit-transition:All 0.5s ease-in-out;
    -moz-transition:All 0.5s ease-in-out;
    -o-transition:All 0.5s ease-in-out;
}
*:hover{
    transition:All 0.5s ease-in-out;
    -webkit-transition:All 0.5s ease-in-out;
    -moz-transition:All 0.5s ease-in-out;
    -o-transition:All 0.5s ease-in-out;
}
html{}
body{}
outline{border:none !important;}
.dc-hidden{display:none;}
.dc-clear:before,.dc-clear:after{display:table;content:" ";}
.dc-clear:after{clear: both;}

/* Template Modules Preview
*****************************/
.mod-preview{text-align:center;margin:0.5em 0;padding:0.5em 0;color:#fff;}
.mod-preview .mod-preview-info{display:none;}
.mod-preview .mod-preview-wrapper{color:black;background:gray;padding:1em;}
.mod-preview .mod-preview-wrapper .dc-block{}