/************************************************
Custom Modules Styles
************************************************/
div.dc-block h3{padding:0 0 0.1em 0;margin:0 0 0.1em 0;}
div.dc-block h3 span{}

div.dc-block.s3-text-center{text-align:center;}
div.dc-block.s3-text-center h3{}
div.dc-block.s3-uppercase{text-transform:uppercase !important;}
div.dc-block.s3-capitalize{text-transform:capitalize !important;}
div.dc-block.s3-padding{padding:0.5em;}
div.dc-block.s3-margin{margin:0.5em;}
div.dc-block.s3-no-list{}
div.dc-block.s3-no-list ul{}
div.dc-block.s3-no-list ul li{list-style-type:none;margin-left:-23px;}
div.dc-block.s3-list-link{}
div.dc-block.s3-list-link ul{}
div.dc-block.s3-list-link ul li{width:100%;display:block;border-bottom:solid 1px;padding:0.3em;}
div.dc-block.s3-list-link ul li:hover{}
div.dc-block.s3-list-link ul li:last-child{border:none;}
div.dc-block.s3-list-link ul li a{color:inherit;text-decoration:none;}
div.dc-block.s3-list-link ul li a:hover{}

/************************************************
Different Module Title Styles
************************************************/

div.dc-block.s3-title{}
div.dc-block.s3-title h3{}
div.dc-block.s3-title h3 span{}

div.dc-block.s3-title1{}
div.dc-block.s3-title1 h3{}
div.dc-block.s3-title1 h3 span{}

div.dc-block.s3-title2{}
div.dc-block.s3-title2 h3{}
div.dc-block.s3-title2 h3 span{}

div.dc-block.s3-title3{}
div.dc-block.s3-title3 h3{}
div.dc-block.s3-title3 h3 span{}

div.dc-block.s3-title4{}
div.dc-block.s3-title4 h3{}
div.dc-block.s3-title4 h3 span{}

div.dc-block.s3-box{}
div.dc-block.s3-box1{}
div.dc-block.s3-box2{}
div.dc-block.s3-box3{}
div.dc-block.s3-box4{}

/************************************************
Different Module Icon Styles
************************************************/
div.dc-block.s3-icon{}



/************************************************
Different Module Color Boxes
************************************************/
div.dc-block.s3-box-white,
div.dc-block.s3-box-black,
div.dc-block.s3-box-blue,
div.dc-block.s3-box-orange,
div.dc-block.s3-box-light,
div.dc-block.s3-box-dark,
div.dc-block.s3-box-red,
div.dc-block.s3-box-green{padding:0.5em 1em;}

div.dc-block.s3-box-dark{
	color:#fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNzM3MzczIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjNDA0MDQwIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiM0MDQwNDAiIC8+PHJlY3QgeD0iMCUiIHk9Ii0xMDAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyMDAlIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #737373), color-stop(100%, #404040));
    background-image: -webkit-radial-gradient(center top, farthest-side, #737373 0%, #404040 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #737373 0%, #404040 100%);
    background-image: -ms-radial-gradient(center top, farthest-side, #737373 0%, #404040 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #737373 0%, #404040 100%);
    background-image: radial-gradient(farthest-side at center top, #737373 0%, #404040 100%);
}
div.dc-block.s3-box-dark h3{color:#f2f2f2;}
div.dc-block.s3-box-dark h3 span{color:#fff;}
div.dc-block.s3-box-dark a{color:#fff;}
div.dc-block.s3-box-dark ul li:hover{background-color:#fff;color:#000;}

div.dc-block.s3-box-light{
	color:#000;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZjFmMWYxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiNmMWYxZjEiIC8+PHJlY3QgeD0iMCUiIHk9Ii0xMDAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyMDAlIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
    background-image: -webkit-radial-gradient(center top, farthest-side, #ffffff 0%, #f1f1f1 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #ffffff 0%, #f1f1f1 100%);
    background-image: -ms-radial-gradient(center top, farthest-side, #ffffff 0%, #f1f1f1 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #ffffff 0%, #f1f1f1 100%);
    background-image: radial-gradient(farthest-side at center top, #ffffff 0%, #f1f1f1 100%);
}
div.dc-block.s3-box-light h3{color:#6c6c6c;}
div.dc-block.s3-box-light h3 span{color:#000;}
div.dc-block.s3-box-light ul li:hover{background-color:#fff;color:#888;}

div.dc-block.s3-box-white{
	color:#000;
	background-color:#fff;
}
div.dc-block.s3-box-white h3{color:#000;}
div.dc-block.s3-box-white h3 span{color:#888;}
div.dc-block.s3-box-white ul li:hover{background-color:#fafafa;color:#000;}

div.dc-block.s3-box-black{
	background-color:#000;
	color:#fff;
}
div.dc-block.s3-box-black h3{color:#ddd;}
div.dc-block.s3-box-black h3 span{color:#fff;}
div.dc-block.s3-box-black a{color:#fff;}
div.dc-block.s3-box-black ul li:hover{background-color:#fafafa;color:#000;}

div.dc-block.s3-box-blue{
    color:#000;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjM2RjYmZmIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMzViNWUzIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiMzNWI1ZTMiIC8+PHJlY3QgeD0iMCUiIHk9Ii0xMDAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyMDAlIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #3dcbff), color-stop(100%, #35b5e3));
    background-image: -webkit-radial-gradient(center top, farthest-side, #3dcbff 0%, #35b5e3 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #3dcbff 0%, #35b5e3 100%);
    background-image: -ms-radial-gradient(center top, farthest-side, #3dcbff 0%, #35b5e3 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #3dcbff 0%, #35b5e3 100%);
    background-image: radial-gradient(farthest-side at center top, #3dcbff 0%, #35b5e3 100%);
}
div.dc-block.s3-box-blue h3{color:#036487;}
div.dc-block.s3-box-blue h3 span{color:#333;}
div.dc-block.s3-box-blue a{color:#fff;}
div.dc-block.s3-box-blue ul li:hover{background-color:#036487;color:#fff;}

div.dc-block.s3-box-orange{
    color:#000;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmY4ZjM4Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjY2I2MjEwIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiNjYjYyMTAiIC8+PHJlY3QgeD0iMCUiIHk9Ii0xMDAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyMDAlIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 377, color-stop(0%, #ff8f38), color-stop(100%, #cb6210));
    background-image: -webkit-radial-gradient(center top, farthest-side, #ff8f38 0%, #cb6210 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #ff8f38 0%, #cb6210 100%);
    background-image: -ms-radial-gradient(center top, farthest-side, #ff8f38 0%, #cb6210 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #ff8f38 0%, #cb6210 100%);
    background-image: radial-gradient(farthest-side at center top, #ff8f38 0%, #cb6210 100%);
}
div.dc-block.s3-box-orange h3{color:#000;}
div.dc-block.s3-box-orange h3 span{color:#fff;}
div.dc-block.s3-box-orange a{color:#fff;}
div.dc-block.s3-box-orange ul li:hover{background-color:#000;color:#fff;}

div.dc-block.s3-box-red{
    color:#fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmYwMDAwIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjYzkwMzAzIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiNjOTAzMDMiIC8+PHJlY3QgeD0iMCUiIHk9Ii0xMDAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyMDAlIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 377, color-stop(0%, #ff0000), color-stop(100%, #c90303));
    background-image: -webkit-radial-gradient(center top, farthest-side, #ff0000 0%, #c90303 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #ff0000 0%, #c90303 100%);
    background-image: -ms-radial-gradient(center top, farthest-side, #ff0000 0%, #c90303 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #ff0000 0%, #c90303 100%);
    background-image: radial-gradient(farthest-side at center top, #ff0000 0%, #c90303 100%);
}
div.dc-block.s3-box-red h3{color:#000;}
div.dc-block.s3-box-red h3 span{color:#fff;}
div.dc-block.s3-box-red a{color:#fff;}
div.dc-block.s3-box-red ul li:hover{background-color:#000;color:#fff;}

div.dc-block.s3-box-green{
    color:#000;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZWJmYzc4Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjYmVlNTBiIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiNiZWU1MGIiIC8+PHJlY3QgeD0iMCUiIHk9Ii0xMDAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyMDAlIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 377, color-stop(0%, #ebfc78), color-stop(100%, #bee50b));
    background-image: -webkit-radial-gradient(center top, farthest-side, #ebfc78 0%, #bee50b 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #ebfc78 0%, #bee50b 100%);
    background-image: -ms-radial-gradient(center top, farthest-side, #ebfc78 0%, #bee50b 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #ebfc78 0%, #bee50b 100%);
    background-image: radial-gradient(farthest-side at center top, #ebfc78 0%, #bee50b 100%);
}
div.dc-block.s3-box-green h3{color:#000;}
div.dc-block.s3-box-green h3 span{color:#fff;}
div.dc-block.s3-box-green a{color:#000;}
div.dc-block.s3-box-green ul li:hover{background-color:#000;color:#fff;}

/************************************************
Different Module Round Boxes
************************************************/
div.dc-block.s3-box-round5{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
div.dc-block.s3-box-round10{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
div.dc-block.s3-box-round15{
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
div.dc-block.s3-box-round20{
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}
div.dc-block.s3-box-round25{
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
}

/************************************************
Different Module Shadow Boxes
************************************************/
div.dc-block.s3-box-shadow1{
    margin-bottom:5px;
    -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.5);
}
div.dc-block.s3-box-shadow2{
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.5);
}
div.dc-block.s3-box-shadow3{
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 20px rgba(50, 50, 50, 0.5);
}
div.dc-block.s3-box-shadow4{
    margin-bottom:20px;
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 20px rgba(50, 50, 50, 1);
}
div.dc-block.s3-box-shadow5{
    margin-bottom:20px;
    -webkit-box-shadow: 0px 10px 20px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 10px 20px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 10px 20px rgba(50, 50, 50, 0.5);
}

/* Media Queries
*********************************************/
/* Retina */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
  
}
/* Landscape phones and down */
@media (max-width: 480px) {
	
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
/* desktop */
@media (min-width: 980px){
	
}
@media (max-width: 979px) {
	
}
/* Large desktop */
@media (min-width: 1200px) {
	
}