/************************************************
Custom Modules Styles
************************************************/
div.dc-block{
	position:relative;
	 h3{
		 span{}
	}
}

div.dc-block.s3-text-center{text-align:center;}
div.dc-block.s3-uppercase{text-transform:uppercase !important;}
div.dc-block.s3-capitalize{text-transform:capitalize !important;}
div.dc-block.s3-padding{padding:1em;}
div.dc-block.s3-margin{margin:1em;}

/************************************************
Different Module Title Styles
************************************************/
div.dc-block.s3-title,
div.dc-block.s3-title1,
div.dc-block.s3-title2,
div.dc-block.s3-title3,
div.dc-block.s3-title4{}

div.dc-block.s3-title{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-title1{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-title2{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-title3{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-title4{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}


/************************************************
Different Module Box Styles
************************************************/
div.dc-block.s3-box,
div.dc-block.s3-box1,
div.dc-block.s3-box2,
div.dc-block.s3-box3,
div.dc-block.s3-box4{}

div.dc-block.s3-box{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box1{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box2{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box3{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box4{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}

/************************************************
Different Module Badges Styles
************************************************/
.dc-block.s3-badge-notavailable:before,
.dc-block.s3-badge-comingsoon:before,
.dc-block.s3-badge-hot:before,
.dc-block.s3-badge-free:before,
.dc-block.s3-badge-cool:before,
.dc-block.s3-badge-special:before,
.dc-block.s3-badge-updated:before,
.dc-block.s3-badge-new:before{
	position:absolute;
	top:0;
	right:0;
	z-index:1;
}
.dc-block.s3-badge-notavailable:before {
    content:url(../../images/badges/badge-notavailable.png);
}
.dc-block.s3-badge-comingsoon:before {
    content:url(../../images/badges/badge-comingsoon.png);
}
.dc-block.s3-badge-hot:before {
    content:url(../../images/badges/badge-hot.png);
}
.dc-block.s3-badge-free:before {
    content:url(../../images/badges/badge-free.png);
}
.dc-block.s3-badge-cool:before {
    content:url(../../images/badges/badge-cool.png);
}
.dc-block.s3-badge-special:before {
    content:url(../../images/badges/badge-special.png);
}
.dc-block.s3-badge-updated:before {
    content:url(../../images/badges/badge-updated.png);
}
.dc-block.s3-badge-new:before {
    content:url(../../images/badges/badge-new.png);
}
/************************************************
Different Module Color Boxes
************************************************/
div.dc-block.s3-box-light,
div.dc-block.s3-box-dark,
div.dc-block.s3-box-white,
div.dc-block.s3-box-black,
div.dc-block.s3-box-blue,
div.dc-block.s3-box-orange,
div.dc-block.s3-box-red,
div.dc-block.s3-box-green{}

div.dc-block.s3-box-light{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box-dark{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box-white{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box-black{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box-blue{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box-orange{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box-red{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}
div.dc-block.s3-box-green{
	/* Default module heading styles */
	h3{
		span{
		}
	}
	
/**********************************************************************************************************
specific module style i.e. background-color | text-color | background-image or any other styles
***********************************************************************************************************/
	
	h1,h2,h3,h4,h5,h6{
		/* heading specific module styles */
	}
	
	P{
		/* paragraph specific module styles */
	}
	
	a{
		/* href specific module styles */
		&:hover{
		}
	}
	
	ul{
		/* unordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
	
	ol{
		/* ordered list specific module styles */
		li{
			/* href list specific module styles */
			a{
				&:first-child{}
				&:last-child{}
				&:hover{
					&:first-child{}
					&:last-child{}
				}
			}
			&:first-child{}
			&:last-child{}
		}
	}
}

/************************************************
Different Module Round Boxes
************************************************/
div.dc-block.s3-box-round1,
div.dc-block.s3-box-round2,
div.dc-block.s3-box-round3,
div.dc-block.s3-box-round4,
div.dc-block.s3-box-round5{}

div.dc-block.s3-box-round1{}
div.dc-block.s3-box-round2{}
div.dc-block.s3-box-round3{}
div.dc-block.s3-box-round4{}
div.dc-block.s3-box-round5{}

/************************************************
Different Module Shadow Boxes
************************************************/
div.dc-block.s3-box-shadow1,
div.dc-block.s3-box-shadow2,
div.dc-block.s3-box-shadow3,
div.dc-block.s3-box-shadow4,
div.dc-block.s3-box-shadow5{}

div.dc-block.s3-box-shadow1{}
div.dc-block.s3-box-shadow2{}
div.dc-block.s3-box-shadow3{}
div.dc-block.s3-box-shadow4{}
div.dc-block.s3-box-shadow5{}


/* Media Queries
*********************************************/
/* Retina */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
  
}
/* Landscape phones and down */
@media (max-width: 480px) {
	
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
/* desktop */
@media (min-width: 980px){
	
}
@media (max-width: 979px) {
	
}
/* Large desktop */
@media (min-width: 1200px) {
	
}